<%-include('../partial/header')%>
<div class="card">
    <div class="card-header">
        <h1>NEW Penjualan</h1>
    </div>
</div>
<div class="card-header">
<form  id='start'class="row g-3" class="start" >
    <div class="col-md-6">
      <label for="no-invoice" class="form-label" >NO Invoice</label>
      <input type="text" class="form-control" id="no_invoice" value="<%=penjualan.kode_jualan%>" class="no-invoice"  name="noInvoice" readonly>
    </div>
    <div class="col-md-6">
      <label for="tanggal" class="form-label">Tanggal</label>
      <input type="text" class="form-control" id="tanggal" value="<%=moment(penjualan.tanggal_penjualan).format('DD MMM YYYY')%>" class="tanggal" readonly>
    </div>
   <div class="col-md-6">
        <label for="kode_barang" class="form-label">Kode barang</label>
       <select name="kode_barang" id="kode_barang"  class="kode_barang"required>
        <% barang.forEach((item)=> {%>
          <option value="<%=item.barcode%>" name="kode_barang"><%=item.barcode + ' ' + item.nama_barang%></option>
          <%}) %>
       </select>
      </div>
      <div class="col-md-6">
        <label for="total_harga" class="form-label">total  barangbang</label>
        <input type="text" class="form-control" id="total_barang" name="totalBarang" class="total_barang" required>
      </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" href="penjualan/show/<%=penjualan.kode_jualan%>">Gas Bang!</button>
      </div>
    </div>

  </form>
  <hr>
</div>
<div class="card-header">
  <form class="row g-3" class="detail_barang" id="detail_barang">
      
    </form>
    <hr>
  </div>


<div class="card-body">
    <div class="card-header">
        <h1>Detail Penjualan</h1>
    </div>
</div>
     <table class="table table-stripped">
        <thead>
            <tr>
               
                <th>Barcode</th>
                <th>Nama Barang</th>
                <th>Jumlah Barang</th>
                <th>Harga Jual</th>
                <th>Total Harga</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          
    </tbody>
  

     </table> 
    <div class="card-footer">
      <div class="row mb-3">
        <label for="total_harga" class="col-sm-2 col-form-label col-form-label-sm">Total Harga </label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm" id="total_harga"  val="" readonly class="total_harga">
        </div>
      </div>

      <form action="" method="post" class="kembalian" id="kembalian1">
      <div class="row mb-3">
        <label for="total_bayar" class="col-sm-2 col-form-label">Total Bayar </label>
        <div class="col-sm-10">
          <input type="text"  onkeyup="myFunction()" class="form-control" id="total_bayar" class="total_bayar"  placeholder="masukkan angka pls " name="total_bayar">
        </div>
      </div>
      <div class="row">
        <label for="kembalian" class="col-sm-2 col-form-label col-form-label-lg">Kembalian</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-lg" id="kembalian" class="kembalian" name="kembalian" readonly>
        </div>
      </div> 
      
      <div class="col-12">
        <button type="submit" class="btn btn-primary" >Gas Bang!</button>
      </div>
    </form>
    </div> 
<script>
var noInvoice = '<%= kodeJualan %>'
//====================================BACA DETAIL DATA ================

function tambah( kode_barang, totalBarang){
 
  $.ajax({
  method: "POST",
  url: `http://localhost:3000/penjualan/show/${noInvoice}`,
  dataType : "json",
  data: {noInvoice, kode_barang, totalBarang}
}).done(function( response) {
  drawData(response.hasilPenjualan)
   drawData2(response.totalBayar.harga)
  kurang = response.totalBayar.harga
  
  
  $("#start").trigger('reset')
  })
}


function tambahKembalian( total_bayar, kembalian){
 
 $.ajax({
 method: "PUT",
 url: `http://localhost:3000/penjualan/show/${noInvoice}`,
 dataType : "json",
 data: {noInvoice, total_bayar, kembalian}
}).done(function( response) {
 
 
 $("#kembalian1").trigger('reset')
 window.location='/penjualan'

 })
}
function drawData (data) {
  
  let html = ''
  data.forEach(item=>{
    html+= ` <tr>
          <td>${item.barcode}</td>
          <td>${item.nama_barang}</td>
          <td>${item.jumlah}</td>
          <td>${item.harga_jual}</td>
          <td>${item.total_harga}</td>
          <td>
            <button type="button" class="btn btn-success btn-sm btn-edit">edit</button>  
            <button type="button" class="btn btn-danger btn-sm btn-delete" deletedata="${item.barcode}">hapus</button>
            </td>
        </tr>`
  })
  $('table tbody').html(html)
  

}
function drawData2(data){
  $('#total_harga').val(data)
}

//========================================= FUNCTON NAMBAH DETAIL DATA ==============================

function readData(){
$.ajax({
  method: "GET",
  url: `http://localhost:3000/penjualan/show/${noInvoice}`,
  dataType : "json",
 
  
}).done(function(response){
 
  drawData(response.hasilPenjualan)
}).fail(function(err){
    
    console.log(err)
  })
}

function myFunction() {
  let x = document.getElementById("total_bayar");
  let y = parseInt(kurang)
  let z = parseInt(x.value) ==  'NaN' ? 0 :parseInt(x.value)
  let xy = z-y
  console.log(y,z)
  document.getElementById("kembalian").value = z-y;
  
}
function deletedata(barcode){
  $.ajax({
  method: "DELETE",
  url: `http://localhost:3000/penjualan/show/${barcode}`,
  dataType : "json",
}).done(function( response) {
readData()

  })
}
//=================================LOAD DATA =====================
$(document).ready(function(){
  
  $('#start').submit(function(event){
    event.preventDefault();
   
    const barcode =$('#kode_barang').val()
    const jumlah = parseInt($('#total_barang').val())
    tambah(barcode,jumlah)
  })

  $('#kembalian1').submit(function(event){
    event.preventDefault();
   
    const totalBayar =$('#total_bayar').val()
    const kembalian = parseInt($('#kembalian').val())
    tambahKembalian(totalBayar,kembalian)
  })
  // $('#kembalian').onkeyup = function(){kembalian()}
})
</script>
<%-include('../partial/footer')%>